<form #frm="ngForm" (ngSubmit)="createPost()">
  <fieldset>
    <legend>Cadastre sua notícia</legend>
    <div class="form-content">
      <label for="title">
        Título
        <input type="text" [(ngModel)]="data.title" name="title" id="title" required />
      </label>
      <label for="message">
        Notícia
        <textarea name="message" [(ngModel)]="data.message" id="message"  rows="10" required></textarea>
      </label>
      <button class="submit-btn" [disabled]="frm.invalid">Enviar</button>
    </div>
  </fieldset>

</form>
<dialog class="modal">
  <h2>{{postCreated.title}}</h2>
  <p>{{postCreated.message}}</p>
  <button routerLink="/noticias">Fechar</button>
</dialog>

