.container-card-post{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-main {
  display: flex;
  //flex-wrap: wrap;

  app-details-post {
    width: 80%;
    text-align: center;
  }
}

