.container-card-post{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-main {
  display: flex;

  app-sidebar {
    @media(max-width: 768px) {
      display: none;
    }
  }
}

